<!-- home.component.html -->
<div class="row g-3" *ngIf="hasLoggedIn && isTenant">
  <!-- MIDDLE (full width) -->

  <div class="col-12">
    <app-home-dashboard-middle-widget></app-home-dashboard-middle-widget>
  </div>
  <!-- LEFT -->
  <div class="col-12 col-xl-6">
    <!-- Not: Widget zaten kendi card yapısına sahip -->
    <app-home-dashboard-left-side-widget></app-home-dashboard-left-side-widget>
  </div>

  <!-- RIGHT -->
  <div class="col-12 col-xl-6">
    <!-- Not: Widget zaten kendi card yapısına sahip -->
    <app-home-dashboard-right-side-widget></app-home-dashboard-right-side-widget>
  </div>


</div>
